---
import ExperienceItem from "@/components/ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Estudiante de Ingeniería en Sistemas",
    company: "ITESO",
    description:
      "Estudio la carrera de Ingeniería en Sistemas Computacionales en el ITESO, donde he aprendido a programar en varios lenguajes y a trabajar en equipo. Actualmente estoy en el 7mo semestre y mi fecha de graduación es Diciembre del 2025.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
